---
# Front Matter
layout: basic-page
redirect_from: /content/faq

title: FAQ
top-img: scope_creep/scope_creep_top_img.png
noHeaderMargin: true

questions: {
    "How can I join/become a member?": "Come to one of our weekly meetings! You can find our next meeting time and location on our <a href=\"https://calendar.google.com/calendar/embed?src=andrew.cmu.edu_81nu9se1dvr891bdcfjo9ndovk%40group.calendar.google.com&ctz=America%2FNew_York\">calendar</a>. We also encourage you to join our community on <a href=\"https://discord.gg/Hfs9bfY\">Discord</a>, where you can chat with us and stay up to date on events and announcements.",
    "How often does GCS meet?": "GCS has weekly meetings on Fridays, as well as Office Hours on Sundays. In addition, IDeATe holds Playtesting nights on Wednesday evenings that GCS teams can frequently be found at. For more details on all our meetings and events, check out our <a href=\"https://calendar.google.com/calendar/embed?src=andrew.cmu.edu_81nu9se1dvr891bdcfjo9ndovk%40group.calendar.google.com&ctz=America%2FNew_York\">calendar</a>.",
    "What happens at GCS meetings?": "We have a variety of meeting types! Some of the big meetings are Alpha, Beta, and Pre-Release. At each of those meetings, teams will present their games and exchange constructive criticism. Some meetings are tutorials, like the Unity Beginner’s Tutorial. We also have guest speakers. Between these more serious meetings, we hold game nights and social events to foster a community of game appreciation.",
    "I don’t have any experience making games, but I want to learn. Will you teach me?": "Absolutely! Every semester, at least one team will be beginner-friendly. We also have tutorials in Unity and other relevant topics at the start of each semester. In addition, we have open Office Hours every Sunday from 2-6pm where many experienced club members will be available and happy to help. Lastly, we have our own <a href=\"/course\">StuCo</a> for teaching you how to create games!",
    "What do I need to work on a game?": "All you need is a passion for game creation and a willingness to learn. Most new programmers have taken 15-112, 15-110 or AP-CS. We have a place for artists of all styles and expertise, although new artists may need to spend more time learning about the game asset pipeline.",
    "I have an awesome idea for a game! How do I lead a project?": "At the start of every semester, anyone who wants to pitch a game and lead that project has to first pitch their idea to the officers, during the week before Pitch Fair. This is just to make sure that it is well scoped, and that you know what you’re getting into as a team lead. After that, you’ll pitch your game to the whole club, and assemble a team to lead for the rest of the semester.",
    "What game engines/programming languages/tools do you use?": "Most GCS projects are done in Unity, which uses C# as its primary scripting language. But this is not at all required! In the past, games have been made in Unreal and GameMaker as well, and we are always open to other game engines, tools, or languages.",
    "How long do projects last? Can I pitch a game that will take more than a semester to make?": "Almost all projects are 1 semester long, but occasionally a project will run over into another semester. However, we discourage pitching games that are initially scoped for more than one semester.",
    "Do I have to work on a project to be part of the club or attend meetings?": "Nope! If you want to sit in on any meetings, come to office hours, attend any other events, or otherwise hang out, you’re welcome to!",
    "What happens to projects at the end of the semester?": "On the very last week of classes, we have our final GCS Release Showcase, where we show off all the games we’ve been working on. Projects are expected to be finished by then, but teams are always allowed to continue work after that if they’re still invested in it.",
    "Can I get the source code or assets of your games?": "Many games have their source code available on GitHub, or another version control system. If you can’t find a link through the game’s page but really want to track down some of the code or assets, feel free to contact an officer and we’ll see what we can do.",
    "What is the GCS Gold Award?": "The GCS Gold Award was created to curate a collection of games that stand out above the rest. The official awards given out during Release have changed over the years, but each award winning game is tagged with the respective award on their page. You can also filter by award-winning <a href=\"https://www.gamecreation.org/games\">games</a>.",
    "How can I get my own member page?": "As long as you've participated in at least one GCS project (whether you're a current member or alumnus), all you have to do is fill out this <a href=\"https://forms.gle/1JJa3F1reAEW8uyn8\">form</a>!",
    "Who are the GCS officers? What do they do? How can I become one?": "The GCS officers are 6 members elected by the club body each Fall to lead the club. Each of them has a particular set of responsibilities, but all of them are here to help everyone have the best possible experience with GCS. You can find a list of the current officers on our <a href=\"/contact\">contact</a> page.",
    "How can I get more involved in game development?": "One option is to take a game design course through <a href=\"http://ideate.cmu.edu\">IDeATe</a>. For example, Game Development, Production and Prototyping is an intense course, but a great introduction to the process. You can also connect with the <a href=\"https://discord.gg/GgQw7YD\">Pittsburgh Game Makers</a> or <a href=\"http://bitbridge.space/\">Bit Bridge</a>.",
    "What is the \"Scope Creep\"?": "The Scope Creep is our unofficial mascot, and can be seen at the top left of your page next to the GCS logo. It serves as a reminder to keep the scope of your game in check.",
    "Who made this amazing website?": "I'm glad you asked! This website was created in 2018-2019 by <a href=\"/members/DominicCalkosz\">Dominic Calkosz</a>, with a bunch of help from <a href=\"/members/AdrianBiagioli\">Adrian Biagioli</a>, and all designs done by <a href=\"/members/JessicaCao\">Jessica Cao</a> and <a href=\"/members/SophiaQin\">Sophia Qin</a>. Special thanks also to <a href=\"/members/JanOrlowski\">Jan Orlowski</a>, <a href=\"/members/JosephPerrino\">Joey Perrino</a>, and <a href=\"/members/SebastianYang\">Sebastian Yang</a>, for helping to transfer all of the games from the old website.",
    "I have other questions. Who do I contact?": "If you can’t find the answer to your question here, or on the <a href=\"/about\">about</a> page, feel free to send one of us an <a href=\"/contact\">email</a>, or chat with us on <a href=\"https://discord.gg/Hfs9bfY\">Discord</a>!"
}
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/FAQ.css">


<!-- Note that each link in the ToC below is to the question ABOVE the one
  -- described in the link itself. This is to account for header space, but
  -- since we've changed to a 2 column format (on wide screens), it's a bit
  -- inconsistent.
  -->

<!-- Table of Contents -->
<h1>Contents</h1>
<ul>
{% for q in page.questions %}
    {% if forloop.first %}
        <li><p><a href="#last_link">{{q[0]}}</a></p></li>
    {% elsif forloop.last %}
        <li id="last_link"><p><a href="#q_{{forloop.index | minus: 1}}">{{q[0]}}</a></p></li>
    {% else %}
        <li><p><a href="#q_{{forloop.index | minus: 1}}">{{q[0]}}</a></p></li>
    {% endif %}
{% endfor %}
</ul>
<br>

<!-- Answers -->
<div id="FAQ-answers" class="row no-margin">
    {% for q in page.questions %}
    <div class="col-md-6 col-sm-12">
        <h3>{{q[0]}}</h3>
        <p id="q_{{forloop.index}}">{{q[1]}}</p>
    </div>
    {% endfor %}
</div>
