---
# Front Matter
layout: basic-page
title: Members
noHeaderMargin: true
---

<!-- Stylesheet dependencies -->
<!-- <link rel="stylesheet" href="/styles/members.css"> -->

<!-- Current Members -->
<h1>Current Members</h1>
<div class="row no-margin">
    {% assign current_members = site.members | where_exp:"item", "item.class_of > site.last_graduated_year" | group_by: "class_of" %}
    {% for class in current_members %}
        <div class="col-3">
            <h2><u>Class of {{class.name}}</u></h2>
            {% for member in class.items %}
                <p><a href="{{member.url}}">{{ member.title }}</a></p><br>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<!-- Alumni -->
<h1>Alumni</h1>
<div class="row no-margin">
    {% assign alumni = site.members | where_exp:"item", "item.class_of <= site.last_graduated_year" | group_by: "class_of" | reverse%}
    {% for class in alumni %}
        <div class="col-3">
            <h2><u>Class of {{class.name}}</u></h2>
            {% for member in class.items %}
                <p><a href="{{member.url}}">{{ member.title }}</a></p><br>
            {% endfor %}
        </div>
    {% endfor %}
</div>
