---
# Front Matter
layout: basic-page
title: Members
top-img: Members_page_head.png
top-img-pos: 34%;
noHeaderMargin: true
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/members.css">

<!-- Liquid variables setup -->
{% assign last_graduated_year = "now" | date: "%Y" | plus: 0 %}
{% assign month = "now" | date: "%m" | plus: 0 %}
{% if month < 6 %}
    {% assign last_graduated_year = last_graduated_year | minus: 1 %}
{% endif %}

<!-- Current Members -->
<h1>Current Members</h1>
<div class="row">
    {% assign current_members = site.members | where_exp:"item", "item.class_of > last_graduated_year" | group_by: "class_of" %}
    {% assign current_members = current_members | sort: "name" %}
    {% for class in current_members %}
        <div class="col-sm-3 col-6">
            <h2><u>Class of {{class.name}}</u></h2>
            {% for member in class.items %}
                <p><a href="{{member.url}}">{{ member.title }}</a></p>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<!-- Alumni -->
<h1>Alumni</h1>
<div class="row">
    {% assign alumni = site.members | where_exp:"item", "item.class_of <= last_graduated_year" | group_by: "class_of" %}
    {% assign alumni = alumni | sort: "name" | reverse %}
    {% for class in alumni %}
        <div class="col-sm-3 col-6">
            <h2><u>Class of {{class.name}}</u></h2>
            {% for member in class.items %}
                <p><a href="{{member.url}}">{{ member.title }}</a></p>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<br><br><br>
<div class="row">
    <p>We are in the process of filling in this list! If you are a current member or alumnus, email me your bio (at dcalkosz@andrew.cmu.edu) and we'll get your member page up! (You may also include a profile picture and/or personal website link)</p>
</div>
