<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Non-required, but good meta tags -->
	<meta name="author" content="Game Creation Society">
	{% if page.description %}
		<meta name="description" content="{{ page.description | strip_html }}">
		<meta property="og:description" content="{{ page.description | strip_html }}">
	{% elsif page.bio %}
		<meta name="description" content="{{ page.bio | strip_html }}">
		<meta property="og:description" content="{{ page.bio | strip_html }}">
	{% else %}
		<meta name="description" content="{{ page.meta-description | strip_html }}">
		<meta property="og:description" content="{{ page.meta-description | strip_html }}">
	{% endif %}
	<meta name="keywords" content="game, games, game creation, gamemaking, game making, unity, unreal, student, students, college, cmu, carnegie mellon, carnegie mellon university, game creation society, gcs">
	<meta name="theme-color" content="#b12d36">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	{% if page.thumbnail %}
		<meta property="og:image" content="{{site.stage_path}}{{page.stage_game_path}}images/{{page.thumbnail}}">
	{% elsif page.profile_pic %}
		<meta property="og:image" content="{{site.stage_path}}Members/images/{{page.profile_pic}}">
	{% else %}
		<meta property="og:image" content="{{ site.url }}/images/official_no_back_white.png">
	{% endif %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131154366-1"></script>
	<script src="/scripts/analytics.js"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/vnd.microsoft.icon">
	<!-- Web app menifest -->
	<link rel="manifest" href="/manifest.webmanifest">
	<!-- Apple touchscreen icon -->
	<link rel="apple-touch-icon" href="/images/scope_creep/mask512x512.png">
	<!-- Stylesheet dependencies -->
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/fonts.css">
	<!-- Title -->
	<title>{{ page.title }} | Game Creation Society</title>
	<meta property="og:title" content="{{ page.title }} | Game Creation Society">
</head>

<body>
	<!-- Preloader -->
	<script src="/scripts/preloader.js"></script>

	<!-- Header -->
	{% include header.html %}

	<!-- Some logic for header-sized-top-margin conditions -->
	{% if page.noHeaderMargin == undefined %}
		{% assign noHeaderLayout = true %}
	{% endif %}
	{% if noHeaderLayout and layout.noHeaderMargin %}
		{% assign noHeaderLayout2 = true %}
	{% endif %}
	<div class="container-fluid {% unless page.noHeaderMargin or noHeaderLayout2 %}header-sized-top-margin{% endunless %}">
		<div class="row">
			<!-- Content -->
			<div class="col-12" id="main-content">
				{{ content }}
			</div>
		</div>
	</div>


	<!-- Footer -->
	{% include footer.html %}



	<!-- Script dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="/scripts/header.js"></script>
</body>
</html>
