<!-- Common page footer -->
<div class="container-fluid">
    <div class="row">
        <footer id="page-footer">
            <br>
            <div class="footer-copyright text-center py-3">©2019 CMU Game Creation Society<br>
                <a href="https://www.facebook.com/groups/cmugcs/"><i class="fab fa-facebook"></i></a>
                <a href="https://calendar.google.com/calendar/embed?src=andrew.cmu.edu_81nu9se1dvr891bdcfjo9ndovk%40group.calendar.google.com&ctz=America%2FNew_York"><i class="fas fa-calendar"></i></a>
            </div>
            <br>
        </footer>
    </div>
</div>
