<!-- import the image converter -->
<script type="text/javascript" src="/scripts/img-converter.js"></script>

<!-- Common page header -->
<div id="page-header" class="fixed-top at-top">
    <!-- Logo -->
    <a href="/">
        <img id="header-img" class="replaceable" src="/images/webp/official_no_back_white_smaller.webp" alt="GCS Logo" onerror="this.src='/images/official_no_back_white_smaller.png';" loading="lazy">
    </a>

    <!--a id="faq-link" href="/FAQ"></a-->
        <img id="header-scope-creep" src="/images/scope_creep/ScopeCreepIdle2.gif" alt="Scope Creep" loading="lazy">

        <!-- 
            The style for this is at header-scope-creep in main.css. 
            If you make this a link again, you should uncomment that style.
        -->

         <!--video id="header-scope-creep" autoplay>
          <source src="images/scope_creep/ScopeCreepIdle2.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video--> 

        <!--video id="header-scope-creep" autoplay loop>
            <source src="images/scope_creep/ScopeCreepIdle2.webm" type="video/webm">
        </video>
    </a-->

    <!-- Nav bar -->
    <nav id="nav-bar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Home" %} active-nav-button{% endif %}" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "About" %} active-nav-button{% endif %}" href="/about">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "FAQ" %} active-nav-button{% endif %}" href="/FAQ">
                    FAQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Games" %} active-nav-button {% endif %}" href="/games">
                    Games
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Members" %} active-nav-button {% endif %}" href="/members">
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Course" %} active-nav-button{% endif %}" href="/course">
                    Learning
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Contact" %} active-nav-button{% endif %}" href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
    convert("/images/scope_creep/ScopeCreepIdle2", "Scope Creep", "header-scope-creep", "faq-link");
</script>
