<!-- Common page header -->
<div id="page-header" class="fixed-top at-top">
    <!-- Logo -->
    <a href="/">
        <img id="header-img" src="/images/official_no_back_white.png" alt="GCS Logo">
    </a>

    <a href="/FAQ">
        <img id="header-scope-creep" src="/images/scope_creep/ScopeCreepIdle2.gif" alt="Scope Creep">
    </a>

    <!-- Nav bar -->
    <nav id="nav-bar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Home" %} active-nav-button{% endif %}" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "About" %} active-nav-button{% endif %}" href="/about">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Games" %} active-nav-button {% endif %}" href="/games">
                    Games
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Members" %} active-nav-button {% endif %}" href="/members">
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Course" %} active-nav-button{% endif %}" href="/course">
                    Learning
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link button {% if page.title == "Contact" %} active-nav-button{% endif %}" href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>
