<!-- Listed game display -->

<!-- First, determine what the hover image should be (if any) -->
{% assign hover_img = nil %}
{% if game.screenshots.size > 0 %}
    {% assign index = game.screenshots.size | minus: 1 %}
    {% assign split_screenshot = game.screenshots[index] | split: "." %}

    {% if split_screenshot[1] == "webm" || game.webm_hover_enabled %}
        {% assign hover_img = site.stage_path | append: game.stage_game_path | append: "images/" | append: split_screenshot[0] | append: ".gif" %}
    {% else %}
        {% assign hover_img = site.stage_path | append: game.stage_game_path | append: "images/" | append: game.screenshots[index] %}
    {% endif %}
{% endif %}

<!-- A macro to toggle the hover image preload system.
  -- If enabled, it will preload the hover image for each listed game, BUT not apply the hover style until the image has loaded.
  -- This avoids the thumbnail appearing white when you mouse over it but it hasn't loaded yet.
  -->
{% assign hover_img_preload = true %}

<!-- The display itself -->
<a class="listed-game-preview listed_game ml-1 mr-1
{% for tag in game.tags %} {{ tag }}_game-tag {% endfor %}
{% if game.awards and game.awards.size > 0 %} Award-Winning_game-tag {% endif %}"
  id="{{ game.title | slugify }}-preview" href="{{ game.url }}">
    <div id="{{ game.title | slugify }}-preview-child" class="listed-game-preview-img"
    {% if game.webp_preview_enabled %}
        {% if game.thumbnail %}
            {% assign split_name = game.thumbnail | split: "." %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{split_name[0]}}.webp')"
        {% elsif game.screenshots.size > 0 %}
            {% assign split_name = game.screenshots[0] | split: "." %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{split_name[0]}}.webp')"
        {% endif %}
    {% else %}
        {% if game.thumbnail %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.thumbnail}}')"
        {% elsif game.screenshots.size > 0 %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[0]}}')"
        {% endif %}
    {% endif %}>
    </div>
    {% if hover_img_preload %}
        <div style="display:none"><img id="{{ game.title | slugify }}_hover_preload" src="{{hover_img}}"></div>
    {% endif %}
    <div id="{{ game.title | remove: ' ' }}_div" class="listed-game-preview-overlay">
        <h5 class="game_title"><strong>{{ game.title }}</strong></h5>
        <p class="game_semester_year">{{game.semester}} {{game.year}}</p>
        {% for member in game.project_members %}
            <p class="game_members" style="display:none">{{member[0]}}</p>
        {% endfor %}
        <!-- Stripped-down description that doesn't display (this is for searching) -->
        <p class="game_description" style="display:none">{{game.description | newline_to_br | strip_html | strip_newlines | strip | replace: '"', ''}}</p>
    </div>
    
    <!-- Preload the on-hover screenshot -->
    <script type="text/javascript">
        {% if hover_img_preload %}
            function once_loaded() {
                document.getElementById("{{ game.title | slugify }}-preview-child").classList.add("hover-img-loaded");
            }

            var img = document.getElementById("{{ game.title | slugify }}_hover_preload");
            if (img.complete) {
                once_loaded();
            } else {
                img.addEventListener('load', once_loaded);
                img.addEventListener('error', function() {
                    console.error("failed to load hover image:");
                    console.error(img);
                });
            }
        {% endif %}

        // https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Safari 3.0+ "[object HTMLElementConstructor]" 
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        {% assign fallback_hover_image = false %}

        if (isOpera || isSafari || isIE) {
            {% assign fallback_hover_image = true %}
            {% if game.thumbnail %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.thumbnail}}')";
                /*var css = '#{{ game.title | slugify }}-preview:hover .listed-game-preview-img';
                document.getElementById("{{ game.title | slugify }}-preview").style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[-1]}}')";*/
            {% elsif game.screenshots.size > 0 %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[0]}}')";
            {% endif %}
        }

        {% assign index = game.screenshots.size | minus: 1 %}
        // Preloading
        /*preload(
            "{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[index]}}"
        )*/

        {% assign split_screenshot_string = game.screenshots[index] | split: "." %}

        {% if split_screenshot_string[1] == "webm" %}
            convert("{{site.stage_path}}{{game.stage_game_path}}images/{{split_screenshot_string[0]}}", "{{game.title}}", "header-{{game.title | slugify}}", "{{ game.title | slugify }}-preview-child", true, "{{split_screenshot_string[1]}}");
        {% endif %}
    </script>
</a>

{% if hover_img %}
<style>
    {% if hover_img_preload %}
    #{{ game.title | slugify }}-preview:hover .listed-game-preview-img.hover-img-loaded {
    {% else %}
    #{{ game.title | slugify }}-preview:hover .listed-game-preview-img {
    {% endif %}
        {% assign index = game.screenshots.size | minus: 1 %}
        {% assign split_screenshot = game.screenshots[index] | split: "." %}

        {% if fallback_hover_image %}
            background-image: url("{{hover_img}}") !important;
        {% endif %}
    }
</style>
{% endif %}
