<!-- Listed game display -->
<a class="listed-game-preview listed_game
{% for tag in game.tags %} {{ tag }}_game-tag {% endfor %}
{% if game.awards and game.awards.size > 0 %} Award-Winning_game-tag {% endif %}"
  id="{{ game.title | slugify }}-preview" href="{{ game.url }}">
    <div id="{{ game.title | slugify }}-preview-child" class="listed-game-preview-img"
    {% if game.webp_enabled %}
        {% if game.thumbnail %}
            {% assign split_name = game.thumbnail | split: "." %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{split_name}}.webp')"
        {% elsif game.screenshots.size > 0 %}
            {% assign split_name = game.screenshots[0] | split: "." %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{split_name}}.webp')"
        {% endif %}
    {% else %}
        {% if game.thumbnail %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.thumbnail}}')"
        {% elsif game.screenshots.size > 0 %}
            style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[0]}}')"
        {% endif %}
    {% endif %}>
    </div>
    <div id="{{game.title | remove: ' '}}_div" class="listed-game-preview-overlay">
        <h5 class="game_title"><strong>{{ game.title }}</strong></h5>
        <p class="game_semester_year">{{game.semester}} {{game.year}}</p>
        {% for member in game.project_members %}
            <p class="game_members" style="display:none">{{member}}</p>
        {% endfor %}
        <!--p class= "game_members" style="display:none">{{ game.project_members }}</p-->
    </div>
    
    <!-- Preload the on-hover screenshot -->
    <!-- Also manually add in a stripped-down description that doesn't display (this is for searching) -->
    <script type="text/javascript">
        // Create description element and set properties
        var desc = document.createElement("p");
        desc.className = "game_description";
        desc.style.display = "none";

        // Filter and strip text and then add it to a div
        var text = "{{game.description | newline_to_br | strip_html | strip_newlines | strip | replace: '"', ''}}";
        desc.appendChild(document.createTextNode(text));
        document.getElementById("{{game.title | remove: ' '}}_div").appendChild(desc);

        // https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Safari 3.0+ "[object HTMLElementConstructor]" 
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        if (isOpera || isSafari || isIE) {
            {% if game.thumbnail %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.thumbnail}}')";
            {% elsif game.screenshots.size > 0 %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[0]}}')";
            {% endif %}
        }

        {% assign index = game.screenshots.size | minus: 1 %}
        // Preloading
        /*preload(
            "{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[index]}}"
        )*/

        {% assign split_screenshot_string = game.screenshots[index] | split: "." %}

        {% if split_screenshot_string[1] == "webm" %}
            convert("{{site.stage_path}}{{game.stage_game_path}}images/{{split_screenshot_string[0]}}", "{{game.title}}", "header-{{game.title | slugify}}", "{{ game.title | slugify }}-preview-child", true, "{{split_screenshot_string[1]}}");
        {% endif %}
    </script>
</a>
