---
# Front Matter
layout: default
noHeaderMargin: true
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/basic-page.css">
{% if page.title == "Contact" %}
	<link rel="stylesheet" href="/styles/contact-page.css">
{% endif %}

<!-- Top image -->
{% if layout.no-top-img != true and page.no-top-img != true %}
<div id="basic-top-image" {% if page.top-img %}style="background-image: url('/images/{{page.top-img}}'); background-position: center {{page.top-img-pos}}"{% endif %}>
    <div id="basic-top-title" class="header-sized-top-margin">
        <!-- Title -->
        {% if page.display-title %}
        <h1 class="text-center">{{ page.display-title }}</h1>
        {% else %}
        <h1 class="text-center">{{ page.title }}</h1>
        {% endif %}
    </div>
</div>
{% endif %}

<!-- Page content -->
<div id="basic-main-content">
{{ content }}
</div>
