---
# Front Matter
layout: default
title: Games
noHeaderMargin: true
# Can sort by: 'newest', 'oldest', or 'title'
sort_by: newest
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/games.css">
<link rel="stylesheet" href="/styles/listed_game.css">

<!-- Top image -->
<div id="games-top-image">
    <div id="games-top-title" class="header-sized-top-margin">
        <!-- Title -->
        <h1 class="text-center">GCS Games</h1>
    </div>
</div>

<!-- "Sorted by" dropdown -->
<div id="sorted-by" class="row justify-content-center text-center">
    <h3>Sort By</h3>
    <br />
    <div class="dropdown">
        <a href="/games-by-newest"><button class="dropbtn {% if page.sort_by == "newest" %}current-sort{% endif %}">Newest</button></a>
        <a href="/games-by-oldest"><button class="dropbtn {% if page.sort_by == "oldest" %}current-sort{% endif %}">Oldest</button></a>
        <a href="/games-by-title"><button class="dropbtn {% if page.sort_by == "title" %}current-sort{% endif %}">Title</button></a>
        <!-- <button class="dropbtn">{{ page.sort_by | capitalize }}</button>
        <div class="dropdown-content">
        <a href="/games-by-newest">Newest</a>
        <a href="/games-by-oldest">Oldest</a>
        <a href="/games-by-title">Title</a>
        </div> -->
    </div>
<br>
</div>
<!-- Filtering by tags -->
<div id="tag-selector" class="row justify-content-center text-center">
    <br /><br />
    <h3>Filter By</h3>
    <br />
    {% for tag in site.game_tags %}
    <div class="checkbox-container">
    <input type="checkbox" class="games_filter_checkbox" data-toggle="toggle" data-on="{{tag}}" data-off="{{tag}}" data-onstyle="success" data-offstyle="default" id="tag_box_{{ tag }}">
    </div>
    {% endfor %}
    <div class="checkbox-container">
    <input type="checkbox" class="games_filter_checkbox" data-toggle="toggle" data-on="Award-Winning" data-off="Award-Winning" data-onstyle="success" data-offstyle="default" id="tag_box_Award-Winning">
    </div>
</div>

<!-- All listed games -->
<div class="row no-margin justify-content-around align-items-center">
    {% if page.sort_by == "title" %}
    <!-- Sort games alphabetically by title -->

    {% assign games_sorted = site.games | sort: "title" %}
    {% for game in games_sorted %}
        {% include listed_game.html %}
    {% endfor %}
    <!-- See listed_game.html for the formatting of each game listed -->


    {% else %}
    <!-- Sort games chronologically, by "newest" or "oldest" -->


    {% assign years = site.games | group_by: "year" %}
    {% if page.sort_by == "oldest" %}
        {% assign years = years | sort: "name" %}
    {% else %}
        {% assign years = years | sort: "name" | reverse %}
    {% endif %}

    {% for year in years %}
        {% assign games_sorted = year.items | sort: "semester" %}
        {% if page.sort_by == "oldest" %}
            {% assign games_sorted = year.items | sort: "semester" | reverse %}
        {% endif %}
        {% for game in games_sorted %}
            {% include listed_game.html %}
        {% endfor %}
    <!-- See listed_game.html for the formatting of each game listed -->
    {% endfor %}


    {% endif %}
</div>


<!-- Display the total number of games after filtering -->
<div id="bottom_text" class="text-center">
    <p id="number_of_games_found">{{site.games.size}} games found!</p>
</div>


<!-- Script dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/scripts/games_filter.js"></script>
