---
# Front Matter
layout: default
noHeaderMargin: true
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/game-page.css">

<!-- Top image -->
<img id="game-top-img" src="{{page.data_path}}{{page.top-img}}" style="object-fit:{{page.top-img-fit}}">
</img>

<!-- Page content -->
<div id="game-main-content">
    <!-- Title and year/semester -->
    <h1 class="inline">{{ page.title }}</h1><h3 class="inline"> - {{ page.semester }} {{ page.year }}</h3>

    <div class="row no-margin">
        <div class="col-4">
            <!-- About -->
            <h2>About</h2>
            <p>{{ page.description }}</p>
        </div>
        <div class="col-4">
            <!-- Builds -->
            <h2>Play</h2>
            {% for build in page.builds %}
            <p>For {{ build[0] }} | <a href="{{ site.stage_path }}{{ page.stage_game_path }}{{ build[1] }}">Download</a></p>
            {% endfor %}
        </div>
        <div class="col-4">
            <!-- Project Members -->
            <h2>Project Members</h2>
            <p>
                {% for member in page.project_members %}
                {{ member[0] }} - <i>{{ member[1] }}</i><br>
                {% endfor %}
            </p>
        </div>
    </div>


    <!-- Screenshots -->
    {% if page.screenshots %}
    <div class="row no-margin">
        <div class="col">
            <h2>Screenshots</h2>
        </div>
    </div>
    <div class="screenshot-row">
        {% for img in page.screenshots %}
        <div class="screenshot-column">
            <img class="screenshot-thumbnail hover-shadow" src="{{page.data_path}}{{img}}" onclick="openModal();currentSlide({{forloop.index}})">
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Screenshot gallery modal -->
    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            {% for img in page.screenshots %}
            <div class="mySlides">
                <div class="numbertext">{{forloop.index}} / {{forloop.length}}</div>
                <img class="screenshot-full" src="{{page.data_path}}{{img}}">
            </div>
            {% endfor %}

            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail image controls -->
            <div class="img-control-row">
                {% for img in page.screenshots %}
                <div class="screenshot-column">
                    <img class="screenshot-img-control" src="{{page.data_path}}{{img}}" onclick="currentSlide({{forloop.index}})">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Original Soundtrack Soundcloud embed -->
    {% if page.OST-embed %}
    <div class="row no-margin">
        <div class="col-5">
            <h2>Original Soundtrack</h2>
            <iframe class="soundcloud-embed" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.OST-embed }}"></iframe>
        </div>
    </div>
    {% endif %}

    <!-- Custom content (this could be moved up?) -->
    {{ content }}
</div>

<!-- Script dependencies -->
<script src="/scripts/screenshot_gallery.js"></script>
