---
# Front Matter
layout: basic-page
no-top-img: true
noHeaderMargin: false
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/member-page.css">
<link rel="stylesheet" href="/styles/listed_game.css">

<!-- Name and class -->
<br>
<div class="row no-margin">
    <div class="col">
        <h1 class="inline">{{ page.title }}</h1><h3 class="inline"> - Class of {{ page.class_of }}</h3>
    </div>
</div>

<div class="row no-margin">
    <!-- Bio -->
    {% if page.bio %}
        {% if page.profile_pic %}
        <div class="col-md-8">
            <p>{{page.bio}}</p>
        </div>
        {% else %}
        <div class="col">
            <p>{{page.bio}}</p>
        </div>
        {% endif %}
    {% endif %}

    <!-- Profile picture -->
    {% if page.profile_pic %}
        {% if page.bio %}
        <div class="col-md-4 text-center">
            <img class="profile_image" src="{{site.stage_path}}Members/images/{{page.profile_pic}}" alt="Profile Image">
        </div>
        {% else %}
        <div class="col text-center">
            <img class="profile_image" src="{{site.stage_path}}Members/images/{{page.profile_pic}}" alt="Profile Image">
        </div>
        {% endif %}
    {% endif %}
</div>
<br>

<!-- Extra-info container -->
<div class="row no-margin justify-content-center">
    <!-- Positions -->
    {% if page.current_position or page.previous_positions %}
    <div class="col-md-4 col-sm-12 text-center mb-2">

        <br>
        {% if page.current_position %}
        <h4><u>Current GCS position</u>: {{page.current_position}}</h4>
        {% endif %}

        {% if page.previous_positions %}
        <h4><u>Previous GCS positions</u>:
            {{page.previous_positions}}
        </h4>
        {% endif %}

    </div>
    {% endif %}

    <!-- Personal website link -->
    {% if page.website or page.extra_links %}
        <div class="col-md-4 col-sm-12 text-center">
            {% if page.website %}
                <br>
                <a href="{{page.website}}" class="no-text-decoration">
                    <button type="button" class="standard-button red-button">My Website</button>
                </a>
            {% endif %}

            <!-- In case additional links are included that are too specific for "branding" covered in the social links below; only use this if the site isn't a brand and there's no image for it currently -->
            {% for link in page.extra_links %}
                {% if link == page.extra_links.first %}
                    <br>
                {% else %}
                    <br><br>
                {% endif %}
                <a href="{{link[1]}}" class="no-text-decoration">
                    <button type="button" class="standard-button red-button">{{link[0]}}</button>
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Personal contact link -->
    {% if page.email or page.phone or page.resume %}
        <div class="col-md-4 col-sm-12 text-center">
            <div style="padding-top:24px">
                {% if page.resume %}
                    <div class="row no-margin justify-content-center">
                        <div class="col-md-6 col-sm-12 text-center mb-2">
                            <a href="{{site.stage_path}}resumes/{{page.resume}}"><h5><i class="fa fa-file fa-large" aria-hidden="true"></i>My resume</h5></a>
                        </div>
                    </div>
                {% endif %}
                {% if page.email %}
                    <div class="row no-margin justify-content-center">
                        <div class="col-md-6 col-sm-12 text-center mb-2">
                            <a href="mailto:{{page.email}}"><h5><i class="fa fa-envelope fa-large" aria-hidden="true"></i>Email me</h5></a>
                        </div>
                    </div>
                {% endif %}
                {% if page.phone %}
                    <div class="row no-margin justify-content-center">
                        <div class="col-md-6 col-sm-12 text-center mb-2">
                            <a href="tel:{{page.phone}}"><h5><i class="fa fa-phone fa-large" aria-hidden="true"></i>Call me</h5></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

<!-- Social contact links -->
{% if page.social_links %}
    <br>
    <h4 class="text-center">Find me here:</h4>
    <div class="d-flex flex-wrap social-container">
        {% for link in page.social_links %}
            <div class="social-link-container">
                <a href="{{link[1]}}" class="no-text-decoration">
                    {% if link[0] == "Itch.io" or link[0] == "GitHub" %}
                        <!-- Condition for light mode vs dark mode if implemented later -->
                        <img src="/images/social/{{link[0]}}/logo-black.png" class="social-link">
                    {% else %}
                        <img src="/images/social/{{link[0]}}/logo.png" class="social-link">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- Custom content -->
{{ content }}

<!-- My Games -->
<div class="text-center">
    <br>
    <h2>My GCS Games</h2>
</div>

<div class="row no-margin justify-content-around align-items-center">
    {% assign years = site.games | group_by: "year" %}
    {% assign years = years | sort: "name" | reverse %}

    {% for year in years %}
        {% assign games_sorted = year.items | sort: "semester" %}
        {% if page.sort_by == "oldest" %}
            {% assign games_sorted = year.items | sort: "semester" | reverse %}
        {% endif %}
        {% for game in games_sorted %}
            {% for member in game.project_members %}
            {% if member[0] == page.title %}
                {% include listed_game.html %}
                <!-- See listed_game.html for the formatting of each game listed -->
                {% break %}
            {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<!-- Link back to all members -->
<div class="row justify-content-center">
    <div class="col-sm-3 col-6 text-center">
        <br>
        <a href="/members" class="no-text-decoration">
            <button type="button" class="thin-button light-red-button">Back to all members</button>
        </a>
    </div>
</div>

{% if page.last_updated %}
<p><em>Updated {{page.last_updated}}</em></p>
{% endif %}
