---
# Front Matter
layout: basic-page
no-top-img: true
noHeaderMargin: false
---

<!-- Stylesheet dependencies -->
<link rel="stylesheet" href="/styles/member-page.css">
<link rel="stylesheet" href="/styles/listed_game.css">


<!-- Name and class -->
<br>
<h1 class="inline">{{ page.title }}</h1><h3 class="inline"> - Class of {{ page.class_of }}</h3>


<!-- Bio -->
{% if page.bio %}
<p>{{page.bio}}</p>
<br>
{% endif %}


<!-- Extra-info container -->
<div class="row no-margin justify-content-center">
    <!-- Positions -->
    {% if page.current_position or page.previous_positions %}
    <div class="col-md-4 col-sm-12 text-center mb-2">

        <br>
        {% if page.current_position %}
        <h4><u>Current GCS position</u>: {{page.current_position}}</h4>
        {% endif %}

        {% if page.previous_positions %}
        <h4><u>Previous GCS positions</u>:
            {{page.previous_positions}}
        </h4>
        {% endif %}

    </div>
    {% endif %}

    <!-- Profile picture -->
    {% if page.profile_pic %}
    <div class="col-md-4 col-sm-12 text-center">
        <img class="profile_image" src="{{site.stage_path}}Members/images/{{page.profile_pic}}" alt="Profile Image">
    </div>
    {% endif %}

    <!-- Personal website link -->
    {% if page.website or page.extra_links %}
        <div class="col-md-4 col-sm-12 text-center">
        {% if page.website %}
            <br>
            <a href="{{page.website}}" class="no-text-decoration">
                <button type="button" class="standard-button red-button">My Website</button>
            </a>
        {% endif %}

        {% for link in page.extra_links %}
            <br><br>
            <a href="{{link[1]}}" class="no-text-decoration">
                <button type="button" class="standard-button red-button">{{link[0]}}</button>
            </a>
        {% endfor %}
        </div>
    {% endif %}
</div>


<!-- Custom content -->
{{ content }}


<!-- My Games -->
<div class="text-center">
    <br>
    <h2>My GCS Games</h2>
</div>

<div class="row no-margin justify-content-around align-items-center">
    {% assign years = site.games | group_by: "year" %}
    {% assign years = years | sort: "name" | reverse %}

    {% for year in years %}
        {% assign games_sorted = year.items | sort: "semester" %}
        {% if page.sort_by == "oldest" %}
            {% assign games_sorted = year.items | sort: "semester" | reverse %}
        {% endif %}
        {% for game in games_sorted %}
            {% for member in game.project_members %}
            {% if member[0] == page.title %}
                {% include listed_game.html %}
                <!-- See listed_game.html for the formatting of each game listed -->
                {% break %}
            {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>


<!-- Link back to all members -->
<div class="row justify-content-center">
    <div class="col-sm-3 col-6 text-center">
        <br>
        <a href="/members" class="no-text-decoration">
            <button type="button" class="thin-button light-red-button">Back to all members</button>
        </a>
    </div>
</div>
