/* Game page (_layouts/game-page.html) styling */

/* Text */
#game-main-content {
	color: black;
	margin-left: 6em;
	margin-right: 6em;
	margin-top: 1em;
	margin-bottom: 3em;
}

#game-main-content h1 {
	color: #BC192F;
	margin-left: -0.3em;
	margin-bottom: 0.4em;
}

#game-main-content h3 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

/* Link styling */
#game-main-content a {
	color: #BC192F;
	text-decoration: none;
}
#game-main-content a:hover {
	color: #991222;
	text-decoration: underline;
}

/* Image at top of page */
#game-top-img {
	width: 100%;
	max-height: 100vh;
	object-fit: cover;
	height: auto;
}

/* Screenshots */
.screenshot-row > .screenshot-column {
	padding: 0 0.2em;
}

.screenshot-row:after {
	content: "";
	display: table;
	clear: both;
}

.screenshot-thumbnail {
	height: auto;
	width: 100%;
}

/* Create four equal columns that floats next to eachother */
.screenshot-column {
	display: inline-block;
	float: left;
	width: 25%;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 10000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: black;
}

/* Modal Content */
.modal-content {
	position: relative;
	/* background-color: #fefefe; */
	background-color: black;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
	height: 100vh;
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

.screenshot-full {
	display: block;
	max-height: 80%;
	max-width: 100%;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/*  */

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 1em;
	padding: 0.5em 0.75em;
	position: absolute;
	top: 0;
}

img.screenshot-img-control {
	height: 10em;
	opacity: 0.6;
}

.active,
.screenshot-img-control:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Soundcloud embed */
.soundcloud-embed {
	width: 100%;
	height: 20em;
}
