/* Home page (index.html) styling */

/* Demo reel and overlay */
#reel-container {
    position: relative;
    width: 100%;
}

video#games-reel {
    position: relative;
    width: 100%;
    z-index: 5;
    background: url('/images/arches.jpg');
    background-size: cover;
    background-position: center center;
}

#reel-faded-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    z-index: 10;
    background: linear-gradient(#0B0B0B66, #0B0B0B66);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#reel-overlay-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}

#reel-overlay-inner {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
    height: 20em;
    margin: 0 auto;
}

#reel-overlay-outer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#want-to-make-games {
    /* text-shadow: 2px 0 black, 0 2px black; */
    font-weight: 600;
    margin-top: 5rem;
}

#reel-overlay-description {
    position: relative;
    font-weight: normal;
    width: 46%;
    left: 27%;
}

#reel-overlay-buttons a {
    position: relative;
    width: 50%;
    vertical-align: middle;
    padding: 0;
}

#reel-overlay-buttons a button {
    margin: 0.5em 0;
    width: 80%;
}

/* The big buttons are 16/1.3em wide (for the buttons font-size is set to 1.3 
   and the width of the button is changed to 16em.  em is based on font size
   so the final size is 16/1.3=~12.3  So when the screen is at 16/1.3*2=24.61538,
   we should switch the appearance of the buttons as they have gotten too small.
   This is applied ONLY if the screen is larger than 16/13*2em */
@media (min-width: 24.61538em) {
    #reel-overlay-buttons a {
        padding: 0 1.5em;
    }

    #reel-overlay-buttons a button {
        width: 100%;
        margin: auto;
    }
}

/* #view-full-video-reel {
    position: absolute;
    font-weight: 600;
    top: 96vh;
    right: 1%;
    z-index: 10;
}

#view-full-video-text {
    color: #FFFFFF;
    text-shadow: 1px 0 black, 0 1px black;
} */

/* Section 2 */
#section-2 {
    z-index: 1;
    position: relative;
    /* top: -30px; */
    margin-top: -0.5rem;
    background-color: #F8F8F8
}

#section-2-icon-container {
    height: 60%;
}

#section-2-icon {
    max-width: 100%;
    max-height: 100%;
}

/* Section 3 */
#section-3 {
    display: block;
    overflow:auto;
    z-index: 5;
    position: relative;
    background:
    /* Faded overlay */
    linear-gradient(#0B0B0B55, #0B0B0B55),
    /* Background image */
    url("/images/showcase_1.jpg");
    background-position: center 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

#section-3-content {
    display: block;

    width: 15%;
    margin-right: 8%;
    min-width: 24em;
    float: right;
}

/* Section 4 */
#section-4 {
    background: linear-gradient(270deg, #891222 0%, #C01930 100%);
    margin-top: -0.5rem;
    padding: 0 2em;
}

#section-4-icon-container {
    width: 100%;
    height: 13em;
    margin: 1em auto;
}

#section-4-icon {
    max-width: 10em;
    margin: 0 auto;
}

/* Section 5 */
#section-5 {
    background: linear-gradient(270deg, #480F17 0%, #63101E 100%);
}

#section-5-preview-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top;
}

#section-5-preview-overlay {
    position: absolute;
    left: 0;
    bottom: 0;

    max-width: 100%;
    max-height: 100%;
    padding: 1em;
    vertical-align: bottom;

    background-color: #00000088;
    background-position: top;
    color: white;
    font-weight: normal;
    -webkit-transition-duration: 0.15s; /* Safari */
    transition-duration: 0.15s;
}

#section-5-preview:hover {
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.25);
}

#section-5-preview:hover #section-5-preview-overlay {
    background-color: #000000CC;
    text-decoration: underline;
}
