---
---

/* Listed game (listed_game.html) styling */

.listed-game-preview-img {
    display: block;
    width: 100%;
    padding-bottom: 75%; /* 4:3 aspect ratio */

    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* Default image */
    background-image: url("/images/official_no_back_smaller.png");

    transition: background-image 0.15s;
}

.listed-game-preview-overlay {
    display: block;

    position: relative;

    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 1em;
    vertical-align: bottom;

    background-color: #00000088;
    background-position: top;
    color: white;
    font-weight: normal;

    transition: background-color 0.15s;
}

.listed-game-preview {
    display: inline-block;
    position: relative;
    max-width: 20em;
    width: 100%;

    margin-top: 2em;
    margin-bottom: 2em;

    border-radius: 10px;
    overflow: hidden;

    transition: box-shadow 0.15s;
    /* background-color: black; */
}

.listed-game-preview:hover {
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.25);
    color: white !important;
    text-decoration: none !important;
}

.listed-game-preview:hover .listed-game-preview-overlay {
    background-color: #000000CC;
    /* text-decoration: underline; */
}

/* Special on-hover backgrounds */
{% for game in site.games %}
{% if game.screenshots and game.screenshots.size > 0 %}
#{{ game.title | slugify }}-preview:hover .listed-game-preview-img {
    {% assign index = game.screenshots.size | minus: 1 %}
    background-image: url("{{site.stage_path}}{{game.stage_game_path}}images/{{game.screenshots[index]}}") !important;
}
{% endif %}
{% endfor %}
