/* Imports */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

/* Variables */
:root {
    --header-height: 5em;
}

/* Text styling */
h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

html {
    font-size: 0.48em;
}

/* https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */
@media (min-width: 576px) {
    html {
        font-size: 0.48em;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.64em;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.82em;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2em;
    }
}

.black-text {
    color: #000000;
}

.light-shadow {
    text-shadow: 1px 0 black, 0 1px black;
}

.no-text-decoration {
    text-decoration: none !important;
}

/* Buttons */
.standard-button {
    font-size: 1.3em;
    cursor: pointer;
    width: 100%;
    max-width: 16em;
    height: 3.5em;
    color: #FFFFFF;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.standard-button:hover {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.red-button {
    background: -webkit-linear-gradient(right, #891222 0%, #C01930 100%);
    background: -o-linear-gradient(right, #891222 0%, #C01930 100%);
    background: linear-gradient(to left, #891222 0%, #C01930 100%);
}
.red-button:hover {
    background: -webkit-linear-gradient(right, #C01930 0%, #891222 100%);
    background: -o-linear-gradient(right, #C01930 0%, #891222 100%);
    background: linear-gradient(to left, #C01930 0%, #891222 100%);
}

.blue-button {
    background: -webkit-linear-gradient(right, #032270 0%, #230579 100%);
    background: -o-linear-gradient(right, #032270 0%, #230579 100%);
    background: linear-gradient(to left, #032270 0%, #230579 100%);
}
.blue-button:hover {
    background: -webkit-linear-gradient(right, #230579 0%, #032270 100%);
    background: -o-linear-gradient(right, #230579 0%, #032270 100%);
    background: linear-gradient(to left, #230579 0%, #032270 100%);
}

/* General formatting */
.align-items-center {
    display: flex;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

/* Body */
body {
    background-color: #E5E5E5;
    color: #FFFFFF;
    font-family: GoogleSans, "Open Sans", "Cabin", Helvetica, Arial, serif;
    font-weight: 600;
    height: 100%;
}

/* Header */
#page-header {
    display: block;

    background: #FFFFFFC4;
    position: fixed;

    top: 0px;
    width: 100%;
    height: var(--header-height);
    padding: 0 3em;

    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    text-align: right;
    -webkit-overflow-scrolling: touch; /* momentum scroll on ios */
}

#page-header.at-top {
    background: none;
}

#header-img {
    display: inline-block;
    float: left;

    height: 80%;
    padding: 3px;
    margin-top: 0.5em;
}

#header-img:hover {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
}

/* Nav bar */
#nav-bar {
    display: inline-block;
    white-space: nowrap;
    margin-left: 1em;
    height: 100%;
}

#nav-bar .button {
    color: black;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

#page-header.at-top .button {
    color: white;
}

#nav-bar .button:hover {
    /* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25); */
    background-color: #C01930;
}

.nav {
    display: block;
    position: relative;
    white-space: nowrap;

    /* height: 3em; */
    height: 100%;
    /* max-height: 100%; */
    /* top: 1em; */
}

.nav-item {
    display: inline-block;
    list-style: none;

    margin-left: 0.3vw;
    margin-right: 0.3vw;
    /* margin-top: 0.5em; */
    /* height: 80%; */
    height: 100%;
}

.nav-link {
    /* padding-top: 1em; */
    height: 100%;

    display: flex;
    align-items: center;
}

.active-nav-button {
    font-weight: 700 !important;
    /* border-bottom: 3px solid; */
    background-color: #C01930;
}

/* Main Content */
.header-sized-top-margin {
    margin-top: var(--header-height);
}

#main-content {
    padding-left: 0;
    padding-right: 0;
}

/* Footer */
#page-footer {
    background-color: black;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-weight: normal;
    width: 100%;
}
